
*.bin
*.lock
.gradle/configuration-cache/gc.properties
.idea/jarRepositories.xml
build/tmp/compileJava/source-classes-mapping.txt
build/tmp/bootJar/MANIFEST.MF
build/libs/covid-data-processor-1.0-SNAPSHOT.jar
.idea/vcs.xml
.idea/sonarlint/issuestore/index.pb
.idea/misc.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/.name
.gradle/vcs-1/gc.properties
.gradle/buildOutputCleanup/cache.properties
.gradle/6.8.1/gc.properties
*.jar
*.MF
*.txt
*.class
*.class
