
*.bin
*.lock
.gradle/configuration-cache/gc.properties
.idea/jarRepositories.xml
build/tmp/compileJava/source-classes-mapping.txt
build/tmp/bootJar/MANIFEST.MF
build/libs/covid-data-processor-1.0-SNAPSHOT.jar
.idea/vcs.xml
.idea/sonarlint/issuestore/index.pb
.idea/misc.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/.name
.gradle/vcs-1/gc.properties
.gradle/buildOutputCleanup/cache.properties
.gradle/6.8.1/gc.properties
*.jar
*.MF
*.txt
*.class
build/tmp/expandedArchives/org.jacoco.agent-0.8.6.jar_a26f6511a7813217be4cd6439d66563b/META-INF/maven/org.jacoco/org.jacoco.agent/pom.xml
build/tmp/expandedArchives/org.jacoco.agent-0.8.6.jar_a26f6511a7813217be4cd6439d66563b/META-INF/maven/org.jacoco/org.jacoco.agent/pom.properties
build/tmp/expandedArchives/org.jacoco.agent-0.8.6.jar_a26f6511a7813217be4cd6439d66563b/about.html
build/tmp/compileTestJava/source-classes-mapping.txt
build/tmp/compileJava/source-classes-mapping.txt
build/test-results/unitTest/TEST-co.homelane.service.DataserviceUTest.xml
build/test-results/unitTest/binary/output.bin.idx
build/test-results/test/binary/output.bin.idx
build/resources/main/application.properties
build/reports/tests/unitTest/packages/co.homelane.service.html
build/reports/tests/unitTest/js/report.js
build/reports/tests/unitTest/index.html
build/reports/tests/unitTest/css/style.css
build/reports/tests/unitTest/css/base-style.css
build/reports/tests/unitTest/classes/co.homelane.service.DataserviceUTest.html
build/reports/tests/test/js/report.js
build/reports/tests/test/index.html
build/reports/tests/test/css/style.css
build/reports/tests/test/css/base-style.css
build/libs/covid-data-processor-1.0-SNAPSHOT.jar
build/jacoco/unitTest.exec
build/classes/java/main/co/homelane/security/Roles.class
build/classes/java/main/co/homelane/converter/Converter.class
build/classes/java/main/co/homelane/config/CustomObjectMapperConfig.class
build/classes/java/main/co/homelane/config/AppConfig.class
build/classes/java/main/co/homelane/Application.class
build/classes/java/main/co/homelane/api/data/DataController.class
build/classes/java/main/co/homelane/advice/ExceptionAdvice.class
